.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;

  max-width: 500px;
  min-width: 360px;

  > * {
    width: 100%;
  }
}

.mainController {
  border-image-source: url('/background.webp');
  border-image-slice: 40 fill;
  border-image-width: 20px;
  border-image-outset: 0px;
  border-image-repeat: round;

  // some ios devices does not show the border-image, so we need a fallback background
  // that is why we have this ugly hack
  background: #e6edf8;
  background-clip: content-box;

  padding: 18px 20px 120px;
  width: 100%;
}

.clearButton {
  @media (max-width: 410px) {
    width: 60px;

    .longText {
      display: none;
    }
  }

  @media (min-width: 411px) {
    width: 110px;

    .shortText {
      display: none;
    }
  }
}
