html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  /* I prefer to always show scrollbar, so the centered items are not re-centered when the scrollbar appears */
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}
