.coolButton.coolButton {
  border: 1px solid black;
  padding: 10px 0;
  border-radius: 5px;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}
