.container {
  @media (max-width: 1023px) {
    display: none;
  }

  img {
    aspect-ratio: 640 / 828;
  }

  img.left {
    transform: scaleX(-1);
    max-width: 100%;
    height: auto;
  }

  img.right {
    max-width: 100%;
    height: auto;
  }
}
